* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}

:root {
    --emperor: #534a4b;
    --brown: #cc876e;
    --transition: all 0.5s ease-in-out;
}

body {
    line-height: 1.5;
    position: relative;
}

/* ==== ESTILOS UTILIZABLES ==== */
a {
    color: #000;
    text-decoration: none;
}

ul li {
    list-style-type: none;
}

img {
    width: 100%;
    display: block;
}

buton{
    outline: 0;
    cursor: pointer;
}

.container {
    width: 90vw;
    margin: 0 auto;
}

.btn-trans {
    background: transparent;
    color: #fff;
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 200;
    padding: 0.8rem 2.2rem;
    border: 1px solid #fff;
    transition: var(--transition);
}

.btn-trans:hover {
    background: var(--emperor);
    border-color: var(--emperor);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    margin: 0.6rem;
    color: #e0e0e0;
    font-weight: 200;
    word-spacing: 2px;
}


/* ====  HEADER ESTILOS ==== */
.header {
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
    url(/img/header-banner.jpg) center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 0;
    border-bottom: 1.5px solid #fff;
}

.navbar-brand {
    font-size: 1.2rem;
    font-weight: 800;
    color: #fff;
}

.navbar-toggler {
    z-index: 1000;
    padding: 0.2rem 0.4rem;
    font-size: 1.6rem;
    border: none;
    background: none;
    color: #fff;
    transition: var(--transition);
}

.navbar-toggler:hover {
    color: var(--brown);
}

.nav-btns, .nav-icons {
    display: none;
}

.navbar-collapse {
    z-index: 999;
    position: absolute;
    top: 0;
    right: 0;
    background: #000;
    height: 100%;
    width: 0;
    overflow: hidden;
    transition: var(--transition);
}

.nav-item {
    margin: 0.7rem 0;
    padding: 1rem 0;
    text-align: center;
}

.nav-link {
    color: var(--brown);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1.3rem;
    transition: var(--transition);
}

.nav-link:hover {
    text-shadow: 0 0 4px #fff;
    color: #fff;
}

.navbar-nav {
    margin-top: 7rem!important;
    width: 90vw;
    margin: 0 auto;
}

/***************/
.showNav {
    width: 100%;
}
/***************/

.header-banner {
    flex: 1;
    display: flex;
    flex-direction:column ;
    align-items: center;
    justify-content: center;
    color: #fff;
    opacity: 0.95;
    text-align: center;
}

.header-banner h3 {
    font-weight: 200;
    font-size: 1rem;
}

.header-banner-title {
    font-size: 2.5rem;
    text-transform: capitalize;
    line-height: 1.3;
    letter-spacing: -1.5px;
    margin: 1.5rem 0;
}

/* ====  NOVEDADES ESTILOS ==== */
.features {
    background: linear-gradient(rgba(0,0,0, 0.7),rgba(0,0,0,0.7)),
    url(/img/background-img-1.png) center/cover no-repeat fixed;
}

.feature-item {
    padding: 2.5rem;
    border-bottom: 0.5px solid #cdcdcd;
}

.feature-icon{
    color: #fff;
    font-size: 1.8rem;
}

.feature-title {
    color: #fff;
    text-transform: capitalize;
    margin: 0.6rem 0;
    font-weight: 300;
}

/* ====  PRODUCTOS ==== */
.product {
    padding: 5rem 0;
}

.product-title {
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
}

.product-item {
    border-radius: 1rem;
    margin: 1.5rem;
    padding: 1.5rem 0;
    text-align: center;
    position: relative;
    transition: var(--transition);
}

.product-item:hover {
    background: #f1f1f1;
}

.product-item:first-of-type{
    margin-top: 2rem;
}

.product-item:last-of-type {
    margin-bottom: 2rem;
}

.product-item img {
    width: 160px;
    margin: 0 auto;
}

.product-info {
    padding: 2rem;
}

.product-info h4{
    font-size: 1.2rem;
    font-weight: 800;
}

.ratings span {
    color: var(--emperor);
}

.product-info .text {
    color: var(--emperor);
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.new-btn {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    font-size: 1rem;
    border: none;
    background: var(--brown);
    color: #fff;
    padding: 0.5rem 1.6rem;
    border-radius: 5px;
    transition: var(--transition);
}

.new-bn:hover {
    opacity: 0.8;
}

.add-btn {
    border-radius: 1.3rem;
    border: none;
    padding: 0.7rem 1.8rem;
    background: var(--emperor);
    font-size: 1rem;
    color: #fff;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    transition: var(--transition);
}

.add-btn:hover {
    background: #000;
}

/* ====  PEDIDO ESTILOS ==== */
.order {
    padding: 5rem 0;
    background: var(--emperor);
}

.order-img img {
    width: 70%;
    margin: 0 auto;
}

.order-content {
    padding: 1.5rem 0;
    text-align: center;
}

.order-title {
    text-transform: capitalize;
    font-size: 2.7rem;
    line-height: 1.2;
    color: #fff;
}

.order .btn-trans {
    margin-top: 1rem;
}

.order .btn-trans:hover {
    background: #fff;
    color: var(--emperor);
}

/* ====  REVIEWS ESTILOS ==== */
.reviews{
    padding: 5rem 0;
}
.reviews-wrapper{
    position: relative;
    height: 400px;
}
.review-item{
    text-align: center;
    padding: 3rem;
}
.review-title{
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 400;
}
.reviews .text{
    font-size: 1rem;
    color: var(--emperor);
    margin: 2rem 0;
}
.review-item h3{
    font-size: 1.1rem;
    font-weight: 300;
    letter-spacing: 4px;
}
.prev-btn, .next-btn{
    position: absolute;
    font-size: 1.5rem;
    width: 40px;
    border-radius: 50%;
    height: 40px;
    border: none;
    background: var(--brown);
    color: #fff;
    transition: var(--transition);
}
.prev-btn{
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.next-btn{
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.prev-btn:hover,
.next-btn:hover{
    opacity: 0.8;
}
.review-item{
    display: none;
}
.activeSlide{
    display: block;
}

/* ====  NEWSLETTER ESTILOS ==== */
.newsletter {
    height: 60vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(/img/background-img-2.png) center/cover no-repeat 
    fixed;
    padding: 5rem 0;
    text-align: center;
}

.newsletter-title {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    color: #fff;
}

.form-control {
    font-size: 1rem;
    background: transparent;
    padding: 0.8rem 1rem;
    border: 1.5px solid var(--brown);
    font-weight: 200;
}

.form-control::placeholder {
    color: var(--brown);
}

.form-control::focus {
    outline: none;
}

.form-control, .newsletter .btn-trans {
    width: 100%;
    margin: 1rem 0;
}

.newsletter .btn-trans {
    background: var(--brown);
    border-color: var(--emperor);
    font-size: 1.1rem;
}

.newsletter .btn-trans:hover {
    background: #fff;
    color: var(--emperor);
}

/* ====  FOOTER ESTILOS ==== */
.footer {
    text-align: center;
    background: #000;
}

.footer-wrapper {
    padding: 5rem 0;
}

.footer-wrapper div {
    margin: 2.5rem 0;
}

.footer-links li {
    margin: 0.6rem 0;
}

.footer-links li a {
    text-transform: uppercase;
    font-weight: 200;
    opacity: 0.9;
    color: #f1f1f1;
    background: var(--transition);
}

.footer-links li a:hover {
    color: var(--brown);
}

.footer-text {
    padding: 1.7rem 0;
}













/* Media Queries */
@media screen and (min-width: 500px){
    .navbar-brand{
        font-size: 1.5rem;
    }
    .nav-icons{
        display: flex;
    }
    .nav-icons span {
        color: #fff;
        font-size: 1.3rem;
        padding: 0.5rem 1rem;
        cursor: pointer;
        transition: var(--transition);
    }
    .nav-icons span:hover{
        opacity: 0.8;
    }
    .header-banner {
        text-align: left;
    }
    .header-banner h3 {
        font-size: 1.3rem;
    }
    .header-banner-title {
        font-size: 4rem;
    }
    .product-item img {
        width: 200px;
    }
    .product-item .text {
        width: 60%;
    }
    .review-item .text {
        font-size: 1.3rem;
    }
    .review-item h3 {
        font-size: 1.3rem;
    }
    .newsletter .btn-trans, .form-control {
        width: 70%;
    }
}


@media screen and (min-width: 768px){
    .features-wrapper {
        padding: 5rem 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .feature-item {
        border: none;
    }
    .feature-item:nth-child(odd){
        border-right: 0.5px solid #cdcdcd;
    }
    .order-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
        align-items: center;
    }
    .order-content {
        text-align: left;
    }
    .review-item .text {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    .newsletter .btn-trans .form-control {
        width: auto;
    }
    .form-control {
        width: 400px;
    }
    .footer-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .footer-wrapper div {
        margin: 0;
    }
}
    


@media screen and (min-width:992px) {
    .navbar-toggler {
        display: none;
    }
    
    .nav-btns {
        display: flex;
    }
    
    .nav-btns button {
        display: inline-block;
        font-size: 0.9rem;
        font-weight: 300;
        opacity: 0.9;
        padding: 0.4rem 0;
        border-width: 0.5px;
        border-style: solid;
        margin: 0 0.5rem;
        width: 100px;
        transition: var(--transition);
    }
    
    .nav-btns button:hover{
        opacity: 1;
    }
    
    .nav-btns button:first-child {
        border-color: var(--emperor);
        background: var(--emperor);
        color: #fff;
    }
    
    .nav-btns button:first-child:hover{
        border-color:#fff;
        background: transparent;
    }

    .nav-btns button:last-child {
        border-color: #fff;
        background: transparent;
        color: #fff;
    }
    .nav-btns button:last-child:hover {
        border-color: var(--emperor);
        background: var(--emperor);
    }
    .navbar-extra-content {
        flex: 1 0 30%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 1rem 0;
    }
    .navbar-collapse {
        position: relative;
        width: 100%;
        background: transparent;
        flex: 0 0 40%;
    }
    .navbar-nav{
        display: flex;
        margin: 0!important;
    }
    .nav-item {
        padding: 0;
        margin: 0 0.8rem;
    }
    .nav-link{
        font-size: 1rem;
        letter-spacing: normal;
        text-transform: capitalize;
        color: #fff;
    }
    .nav-link:hover {
        text-shadow: none;
        color: var(--brown);
    }
    .navbar-brand{
        flex: 0 0 200px;
    }
    .header-banner div {
        width: 70%;
        margin: 0 auto;
    }
    .product-item-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 6rem;
    }
    .product-item:last-of-type {
        margin-top: 2rem;
    }
    .review-item .text {
        font-size: 1.5rem;
    }
    .review-item h3 {
        font-size: 1.3rem;
    }
    .newsletter .btn-trans .form-control {
        width: 60%;
    }
}

@media screen and (min-width:1200px) {
    .features-wrapper {
        height: 800px;
        grid-template-columns: repeat(4, 1fr);
    }
    .feature-item:nth-child(2){
        border-right: 0.5px solid #cdcdcd;
    }
    .feature-item:nth-child(odd) .feature-icon {
        display: block;
        margin-top: 12rem;
    }
    
}




/******** Animación Y Transición ******/
.resize-animation-stopper *{
    animation: none!important;
    transition: none!important;
}


